<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Go Trip</title>
</head>


<body>

    <!--===========Nav Bar=================-->
    <section class="nav-bar">
        <div class="logo">Apna Rothas</div>
        <ul class="menu">
            <li><a href="#">home</a></li>
            <li><a href="#">tours</a></li>
            <li><a href="#">package</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">contact us</a></li>
            body{ background-image: url("a.jpg"); }


        </ul>
        </div>

    </section>
    <!--===============Banner================-->
    <section class="banner">
        <div class="banner-text-item">
            <div class="banner-heading">
                <h1>Find your Next tour!</h1>
            </div>
            <form class="form">
                <input type="text" list="mylist" placeholder="Where would you like to go?">
                <datalist id="mylist">
                        <option>Gupta Dhma</option>
                        <option>rothas killa</option>
                        <option>Dhua kund</option>
                        <option>Manjhur kund</option>
                        <option>Waterfall</option>
                        <option>Kamur padhi</option>
                        <option>chparn dam</option>
                    </datalist>
                <input type="date" class="date">
                <a href="#" class="book">book</a>
            </form>
        </div>
    </section>

    <!--=========Services===============-->
    <section class="services">
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293634/tour-guide_onzla9.png">
            <h2>8000+ Our Local Guides</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293738/reliability_jbpn4g.png">
            <h2>100% Trusted Tour Agency</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293635/experience_a3fduk.png">
            <h2>28+ Years of Travel Experience</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293634/feedback_s8z7d9.png">
            <h2>98% Our Travelers are Happy</h2>

        </div>
    </section>
    <!--==============Places===================-->
    <section class="places">
        <div class="places-text">
            <small>FEATURED TOURS PACKAGES</small>
            <h2>Favourite Places</h2>
        </div>

        <div class="cards">
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="GuptaDham.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Gupta Dham</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location"> rothas Bihar</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="DhuaKund.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Dhua kund</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location"> rothas Bihar</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="KamurPadhi.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Kaimur Padhi</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location"> rothas Bihar</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="Waterfall.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Waterfall</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location">Rothas Bihar</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="ManjurKund.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Manjhur kund</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location">rothas Bihar</p>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="RothasKilla.png">
                    </div>
                </div>

                <div class="text">
                    <span class="rating">тнРтнРтнРтнРтнР</span>
                    <h2>The Rothas Killa</h2>
                    <p class="cost">$1870 / Per Person</p>
                    <div class="card-box">
                        <p class="time">ЁЯХУ 3 Days</p>
                        <p class="location">rothas Bihar</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===========About Us===============-->
    <section class="about">
        <div class="about-img">
            <img src="About.png">
        </div>
        <div class="about-text">
            <small>ABOUT OUR ROTHAS</small>
            <h2> AYE NA HAMRA ROTHAS ME</h2>
            <p>рднрд╛рд░рдд рднреВрдорд┐ рдореЗрдВ рдЬрдиреНрдо рд▓рд┐рдП.. рд░рд╛рдЬрд╛ рд╣рд░рд┐рд╢реНрдЪрдиреНрджреНрд░ рдорд╣рд╛рдиред рд░рдШреБрдХреБрд▓ рдХреЗ рджрд┐рд╡ рджреАрдк.. рдЬрд┐рдирдХреА рд░реЛрд╣рд┐рдд рд╕рдВрддрд╛рдиред рдкрд╛рд╡рди рдзрд░рд╛ рд╕рд╛рдХреЗрдд рдореЗрдВ.. рдерд╛ рдЬрдирдкрдж рд░реЛрд╣рд┐рддрд╛рд╕ред рдордЧрдз рдХреА рдЙрд░реНрд╡рд░ рднреВрдорд┐.. рд╣реИ рд╕рд╣реА рдирд╣реАрдВ рдЙрдкрд╣рд╛рд╕ред рдерд╛ рдореБрдЧрд▓реЛрдВ рдХрд╛ рдкреНрдпрд╛рд░рд╛ рд╕реБрдмрд╛.. рдзрди рджреМрд▓рдд рд╕реЗ рдЖрдмрд╛рджред рдЕрдлрдЧрд╛рдиреЛрдВ рдХреЗ рд╢рд╛рд╕рди рдореЗрдВ.. рдерд╛ рдмрди рдЧрдпрд╛
                рд╢рд╛рд╣рд╛рдмрд╛рджред рд░реЛрд╣рд┐рдд рдХрд╛ рд╢рд╛рд╕рди рджреЗрдЦрд╛.. рд╕реВрд░реА рдореБрдЧрд▓реЛрдВ рдХрд╛ рдЗрддрд┐рд╣рд╛рд╕ред рд╕рди рдЙрдиреНрдиреАрд╕ рд╕реМ рдмрд╣рддрд░ рдореЗрдВ.. рдирдпрд╛ рдЬрд┐рд▓рд╛ рдмрдирд╛ рд░реЛрд╣рддрд╛рд╕ред рд╡рд╛рдпрд╡реНрдп рдкрд╛рд╡рди рдмрдХреНрд╕рд░ рд╣реИ.. рд╣реИ рдЕрдЧрд┐рди рдЕрд░рдгреНрдп рд╕реНрдерд╛рдиред рдиреИрд░реВрдард┐ рдореЗрдВ рдмрд╕реЗрдВ рдореБрдгреНрдбреЗрд╢реНрд╡рд░реА.. рдЖрджрд┐рдд рдордВрджрд┐рд░ рджреЗрд╡ рдИрд╢рд╛рдиред рдкрд╛рд╢реНрдЪреНрдп рдмрд╕реЗ рд╣рд░ рдХреА рдХрд╛рд╢реА.. рдкреНрд░рд╛рдЪреНрдп рдмрд╣рдд рд╕реЛрди рдХрд╛
                рдзрд╛рд░ред рджрдХреНрд╖рд┐рдг рджрд┐рд╢рд┐ рдХреИрдореВрд░ рдЧрд┐рд░рд┐.. рд╣реИ рдЙрддреНрддрд░ рдХреЛ рдХрд╣рдд рд╣реЗрдард╛рд░ред рдорд┐рд▓рддрд╛ рдЧреНрд░реЗрдирд╛рдИрдЯ рдЪреВрдирд╛ рдкрдерд░.. рдмрд┐рдХрддрд╛ рдмрд╛рд▓реВ рдЦрд╛рди рдЦрдирд┐рдЬред рддрд╛рд▓ рддрд▓реИрдпрд╛ рднрд░реЗ рдкрдбрд╝реЗ рд╣реИрдВ, рдЦрд┐рд▓рдд рд╣реИрдВ рдХреБрд╕реБрдо рд╕рд░рд╕рд┐рдЬ.. рдкрд░реНрд╡рдд рдкрд░ рдкрд╛рд╡рди рд╕реНрдерд┐рдд рд╣реИ, рд╢реНрд░реА рдорд╛рддрд╛ рддрд╛рд░рд╛рдЪрдВрдбреА рд╕реНрдерд╛рдиред рдкреБрд░рд╛рдгреЛрдВ рдореЗрдВ рдЪрд░реНрдЪрд╛ рдорд┐рд▓рддреА.. рдЬрди-рдЬрди рдЧрд╛рд╡рдд рдЧрд╛рдиред
                рд╣реИ рдареЛрд░ рдирдж рдХреЗ рдкрд╢реНрдЪ рдмрд╕рд╛.. рдПрдХ рд░рдореНрдп рдкреЛрдВрдЧрд╛рдврд╝реА рдЧреНрд░рд╛рдоред рджрд┐рд╡реНрдп рд╡рд╛рддрд╛рдпрди рдореЗрдВ рд╕реНрдерд┐рдд.. рд╣реИ рдорд╛рдБ рд╢рдХреНрддрд┐ рдХрд╛ рдзрд╛рдоред рднреВ рднрд▓реБрдиреА рдХреЗ рдмрд┐рдпрд╛рд╡рд╛рди рдореЗрдВ.. рд╣реИ рдорд╛рддрд╛ рдпрд╛рдХреНрд╖рд┐рдгреА рдХрд╛ рдкреАрдаред рд╕рд╣рд╕реНрддреНрд░рд╛рдмрд╛рд╣реВ рдХреА рднреВрдорд┐ рдпрд╣реА.. рдЪреЗрдирд╛рд░реА рдЧреБрдкреНрддрд╛ рдмрд╕реЗ рд╢рд┐рд╡рдкрд┐рд╖реНрдЯред GUPTA DHAM рдЧреБрдкреНрддрд╛рдзрд╛рдо рдореЛрд╣рдирдкреБрд░ рд╕рд░рдХрд╛рд░
                рдмрд╕рдд рд╣реИрдВ.. рдмрд╛рдБрдЯрдд рдЧреБрд░реБ рдмреНрд░рд╣реНрдорд░реНрд╖ рдХрд╛ рдЬреНрдЮрд╛рдиред рд░рд╛рдЬрдкреБрд░ рдореЗрдВ рд╕реВрд░рд╕рд░рд┐ рддрдЯ рдкрд░.. рд╣реИ рдЗрдирдХрд╛ рдореВрд▓ рд╕реНрдерд╛рдиред .</p>


            <a href="#">ABOUT US</a>
        </div>
    </section>

    <!--===========Footer=================-->
    <div class="footer">
        <div class="links">
            <h3>Quick Links</h3>
            <ul>
                <li>Offers & Discounts</li>
                <li>Get Coupon</li>
                <li>Contact Us</li>
                <li>About</li>
            </ul>
        </div>
        <div class="links">
            <h3>New Products</h3>
            <ul>
                <li>Woman Cloth</li>
                <li>Fashion Accessories</li>
                <li>Man Accessories</li>
                <li>Rubber made Toys</li>
            </ul>
        </div>
        <div class="links">
            <h3>Support</h3>
            <ul>
                <li>Frequently Asked Questions</li>
                <li>Report a Payment Issue</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</body>

</html>
</body>

</html>